<div class="bx--detail-page-sidebar__container">
    <div data-notification class="bx--inline-notification bx--inline-notification--info" role="alert">
      <div class="bx--inline-notification__details">
        <svg class="bx--inline-notification__icon" width="16" height="16" viewBox="0 0 16 16" fill-rule="evenodd">
          <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 4c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zm2 8H6v-1h1V8H6V7h3v4h1v1z"></path>
        </svg>
        <div class="bx--inline-notification__text-wrapper">
          <p class="bx--inline-notification__title">Info Notification:</h3>
            <p class="bx--inline-notification__subtitle">Here is a clear explaination of the warning</p>
        </div>
      </div>
      <button data-notification-btn class="bx--inline-notification__close-button" type="button">
        <svg class="bx--inline-notification__close-icon" aria-label="close" width="10" height="10" viewBox="0 0 10 10" fill-rule="evenodd">
          <path d="M9.8 8.6L8.4 10 5 6.4 1.4 10 0 8.6 3.6 5 .1 1.4 1.5 0 5 3.6 8.6 0 10 1.4 6.4 5z"></path>
        </svg>
      </button>
    </div>
      <div class="bx--artifact-details-sidebar-container">
              <h2 class="description-label">name</h2>
              <p class="tag-description stage-tag-description" dangerouslySetInnerHTML="deprecationWarning"/>
              <div class="tag-container">
                      <div class="account-tag">accountTagName</div>
                  <div class="provider-tag">tagName</div>
                      <div class="stage-tag">stageTagName</div>
              </div>
          <p class="tag-description" dangerouslySetInnerHTML="experimentalDesc"/>
          <p class="details-description">description</p>
              <div class="artifact-margin-addition"></div>
              <div class="tag-container">
                      <div class="account-tag">accountTagName</div>
                  <div class="provider-tag">tagName</div>
                      <div class="availability-tag">availabilityTagName</div>
                      <div class="stage-tag">stageTagName</div>
              </div>
          <div class="description-tag-container">
                  <a class="description-tag-docs-link" href="www.docs.com" target="_new">
                     Docs
                  </a>
                  <a class="description-tag-terms-link" href="www.terms.com" target="_new">
                     Terms
                  </a>
          </div>

          <div class="details-container">
                  <div class="inset-container author-container">
                      <span class="label author-label">author</span>
                      <span class="value author-value">author</span>
                  </div>
                  <div class="inset-container version-container">
                      <span class="label version-label">version</span>
                      <span class="value version-value">version</span>
                  </div>
                  <div class="inset-container created-date-container">
                      <span class="label created-date-label">createdDate</span>
                      <span class="value created-date-value">createdDate</span>
                  </div>
                  <div class="inset-container publish-date-container">
                      <span class="label publish-date-label">publishDate</span>
                      <span class="value publish-date-value">publishDate</span>
                  </div>
                  <div class="inset-container type-container">
                      <span class="label type-label">type</span>
                          <span class="value type-value">boilerplate</span>
                          <span class="value type-value">runtime</span>
                          <span class="value type-value">service</span>
                  </div>
                  <div class="inset-container location-container">
                      <span class="label location-label">location</span>
                      <span class="value location-value">locationName</span>
                  </div>
                  <div class="inset-container region-container">
                      <span class="label region-label">region</span>
                      <span class="value region-value">regionName</span>
                  </div>
          </div>
      </div>
  </div>
